<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Todo App
      {% endblock %}
    </title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'todo_list:index' %}">LISTA TASK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'todo_list:new_task' %}">NUOVO TASK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'todo_list:users' %}">LISTA UTENTI</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link link-light" href="{% url 'todo_list:logout_page' %}">LOGOUT</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link link-light" href="{% url 'todo_list:user_login' %}">ACCEDI</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>
  </body>
</html>
